.body {
  height: 100%;
  background: linear-gradient(to top, #111a99 50%, #da8585 90%) no-repeat;
}

.body {
  width: calc(100% + 1rem);
  height: 100vh;
  margin-left: 2rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  padding-top: 0rem;
  padding-left: 3.5rem;
  padding-right: 2.7rem;
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
