<div class="outer">
  <h1>Courses</h1>
</div>
<div class="cards-container">
  <div class="card">
    <div class="card-head">Class I-V</div>
    <img src="../../assets/images/CLASS I-V.JPG" alt="" class="card-img-top" width= "300px">
    <div class="card-body"></div>
  </div>
  <div class="card">
    <div class="card-head">Class VI-X</div>
    <img src="../../assets/images/CLASS VI-X.JPG" alt="" class="card-img-top" width="300px">
    <div class="card-body"></div>
  </div>
  <div class="card">
    <div class="card-head">Medical</div>
    <img src="../../assets/images/MEDICAL.JPG" alt="" class="card-img-top" width="300px">
    <div class="card-body"></div>
  </div>
  <div class="card">
    <div class="card-head">Non-Medical</div>
    <img src="../../assets/images/NON-MEDICAL.JPG" alt="" class="card-img-top" width="300px">
    <div class="card-body"></div>
  </div>
  <div class="card">
    <div class="card-head">Commerce</div>
    <img src="../../assets/images/COMMERCE.JPG" alt="" class="card-img-top" width="300px">
    <div class="card-body"></div>
  </div>
  <div class="card">
    <div class="card-head">Humanities</div>
    <img src="../../assets/images/HUMANITIES.JPG" alt="" class="card-img-top" width="300px">
    <div class="card-body"></div>
  </div>
</div>
