body {
  background: linear-gradient(to top, #111a99 50%, #da8585 90%) no-repeat;
  background-size: cover;
  width: 98vw;
  min-height: 94vh;
  font-family: "Roboto", sans-serif;
}

.login-box {
  width: 500px;
  height: 300px;
  margin: auto;
  padding-top: 10;
  min-height: fit-content;
  background-position: center;
  border-radius: 3px;
  background-color: white;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
  text-size: 50px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 30px;
}

form input {
  width: 400px;
  padding: 7px;
  border: none;
  border: 2px solid gray;
  border-radius: 60px;
  outline: none;
  text-size:50px;
}
button {
  width: 450px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #1c35c2;
  color: white;
  font-size: 30px;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: black;
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  color: whitesmoke;
}

