<div class="outer">
  <h1>Create Assignments</h1>
  </div>
  <div class ="ques">
<form action="/action_page.php">
  <label for="fname">Question:</label><br>
  <input type="text" id="fname" name="fname" value="add question"><br>
  <label for="lname">Question:</label><br>
  <input type="text" id="lname" name="lname" value="add question"><br><br>
  <input type="submit" value="Submit">
</form>
<div class="text">
  <p> If you click the "Submit" button, the questionare will be saved.</p>
  </div>
</div>

