.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f8f6f6;


  h1 {
    font-size: 50px;
    color: #333333;
    margin: 0;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ccc;
}

.card-head {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.card-img-top {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.card-body {
  padding: 10px;
}
