<body>
  <div class="signup-box">
    <h1>Sign Up</h1>
    <h4>It's free and only takes a minute</h4>
    <form action="">
      <label>First Name</label>
      <input type="text" placeholder="" required />
      <label>Last Name</label>
      <input type="text" placeholder="" required />
      <label>Email</label>
      <input type="email" placeholder="" required />
      <label>Password</label>
      <input type="password" placeholder="" required />
      <label>Confirm Password</label>
      <input type="password" placeholder="" required />
      <div class="input-field">
        <button type="submit">Sign Up</button>
      </div>
    </form>
    <p>
      By clicking the Sign Up button,you agree to our <br />
      <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
    </p>
  </div>
  <p class="para-2">
    Already have an account? <a routerLink="/login">Login here</a>
  </p>
</body>
<!-- <div class="outer">
  <a href="../signupuser/" target="_blank" class="px-2"> <img src="../../assets/images/User.jpeg" width="400" alt=""> </a>
  <a href="../signupmentor/" target="_blank" class="px-2"> <img src="../../assets/images/Mentor.jpeg" width="400" alt=""> </a>
  <a href="../signupparent/" target="_blank" class="px-2"> <img src="../../assets/images/Parent.jpeg" width="400" alt=""> </a>
</div> -->
