<div class="flex flex-col items-center justify-center h-screen bg-blue-800 bg-no-repeat bg-center border-20 border-black" style="background-image: url('../../../assets/img/title.png'); background-size: 60%">
  <div class="flex flex-col items-center justify-center h-full bg-no-repeat bg-center bg-cover" style="background-image: url('../../../assets/img/Infykiddofun.png'); background-size: 50%"></div>
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold text-white mb-6">Welcome to Infy!</h1>
    <p class="text-lg text-white text-center">InfykiddoFun is a learning webapp used by parents and teachers to provide interactive educational activities for children aged 3–8 years old and informative education for children older than 8 years. The platform offers a wide range of games and exercises designed to enhance cognitive skills, creativity, and problem-solving abilities in young learners.</p>
  </div>
</div>
