<div class="outer">
  <h1>Statistics</h1>
  </div>
  <div class="card">
    <div class="card-head">Students</div>
    <div class="card-body">
      <div style="overflow-x:auto;">
      <table>
        <tr>
          <tr>
            <th><a routerLink="/student">student</a></th>
            <td>Course</td>
          </tr>
          <tr>
            <th><a routerLink="/student">student</a></th>
            <td>Course</td>
          </tr>
          <tr>
            <th><a routerLink="/student">student</a></th>
            <td>Course</td>
          </tr>
          <tr>
            <th><a routerLink="/student">student</a></th>
            <td>Course</td>
          </tr>
        </table>
</div>
</div>
  </div>
