.outer{
  font-size: 40px;
  text-align:center;
}
table {
  background: #f7f2f6;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
  width: 500px;
  height: 200px;
  font-size: xx-large;
  text-align: center;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
tr:hover {
  background-color: rgb(209, 201, 198);
}

