<div class="outer">
  <h1>Settings</h1>
  </div>
  <div class="card">
    <div class="card-head"> General Settings</div>
    <div class="card-body">
      <div style="overflow-x:auto;">
      <table>
         <tr>
            <th>Reset Password</th>
          </tr>
          <tr>
            <th>Update Password</th>
          </tr>
        </table>
</div>
</div>
  </div>
  <div class="card">
    <div class="card-head"> Information</div>
    <div class="card-body">
      <div style="overflow-x:auto;">
      <table>
        <tr>
          <tr>
            <th><a routerLink="/aboutus">About Us</a></th>
          </tr>
          <tr>
            <th><a routerLink="/contactus">Contact Us</a></th>
          </tr>
          <tr>
